<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Número</mat-label>
      <input matInput placeholder="Informe o número da loja" required
      name="number" [(ngModel)]="loja.number">
    </mat-form-field>

    
  <mat-form-field>
    <mat-label>Endereço</mat-label>
    <mat-select placeholder="Selecione o endereço refetente a loja" required name="endereco" [(ngModel)]="loja.address">
      <mat-option *ngFor="let endereco of enderecos" [value]="endereco._id">
       CEP {{ endereco.postal }} Número {{ endereco.number }}
      </mat-option>
    </mat-select>
  </mat-form-field>
      
  </form>
</mat-card-content>
<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>
