<mat-card-title>
  Listagem de clientes
</mat-card-title>

<mat-card-actions>
  <a mat-raised-button href="cliente/novo" color="accent">Novo cliente</a>
</mat-card-actions>

<mat-card-content>
  <table mat-table [dataSource]="clientes">
    
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let cliente">
       <a [routerLink]="['/cliente', cliente._id]">
          {{cliente.nome}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let cliente">
          {{cliente.email}}
      </td>
    </ng-container>

        <ng-container matColumnDef="senha">
      <th mat-header-cell *matHeaderCellDef>Senha</th>
      <td mat-cell *matCellDef="let cliente">
          {{cliente.password}}
      </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef>Endereço</th>
      <td mat-cell *matCellDef="let cliente"><a [routerLink]="['/endereco', cliente.address]">
        {{cliente.address}}
      </a></td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let cliente">
        <button mat-flat-button color="warn" (click)="excluir(cliente._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
    <tr mat-row *matRowDef="let linhaTab; columns: colunasVisiveis"></tr>
    
  </table>
</mat-card-content>